<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
		<title>Eat-a-Burger</title>
	</head>
	<body>
		<h4>Welcome to<h4>
		<h1>Eat-a-burger!</h1>
		<div class="row">
			<div class="col-md-4 col-md-offset-1">{{{ body }}}</div>
			<div class="col-md-3">
				<iframe id='hamburgerTrain' src="//gifs.com/embed/kRloV5" frameborder="0" scrolling="no" width='480' height='274.2857142857143' style="-webkit-backface-visibility: hidden;-webkit-transform: scale(1);" ></iframe>
			</div>
		</div>

		<script type="text/javascript" src="/js/app.js"></script>
	</body>
</HTML>
