<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        <img class="hamburgerImg" src="http://fresh-spot.com/wp-content/uploads/2015/06/Hamburger.png" alt="hamburger.png">
        <p>
          {{this.burger_name}}
        </p>
      </li>
      <form action="/burgers/update/{{this.id}}?_method=PUT" method="POST">
        <input type="hidden" name="devoured" value="true">
        <button class="eat" type="submit">EAT!</button>
      </form>
    {{/unless}}
    <script type="text/javascript">

      // var imgResizer = function(){$('.hamburgerImg').css('max-width','50px').css('');}
      // imgResizer();

    </script>
  {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-update-form" action="/burgers/create" method="POST">

  <div class="form-group">
    <label >Burger Name:</label>
    <input type="text" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
