body {
  background-color: #a3e820;
}

li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
  /*display: inline-block;*/
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

img {
  max-width: 50px;
}

h1 {
  color: red;
}

#hamburgerTrain {
  margin-top: 50px;
}
