body {
  background-color: #B46627;
  background-color: #b46627;
  background-image: url("http://www.transparenttextures.com/patterns/asfalt-dark.png");
}

li {
  margin: 5px;
  padding: 5px;
  /*display: inline-block;*/
}

.title-container {
  border-radius: 50%;
  background-color: #ef9407;
  background-image: url("http://www.transparenttextures.com/patterns/crossword.png");
  box-shadow: 2px 8px 10px rgba(0,0,0,0.5);
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

form {
  display: inline-block;
}

img {
  max-width: 30px;
  float: left;
}

p {
  margin-left: 50px;
  margin-top: 2px;
  display: inline-block;
}

h1 {
  font-family: 'ABeeZee', sans-serif;
  color: #651E36;
  text-align: center;
  font-size: 48pt;
  margin-left: 10px;
  text-shadow: 3px 2px #776416;

}

h2 {
  text-align: center;
}

h4 {
  color: #651E36;
  text-align: center;
  font-size: 72pt;
  font-family: 'Sevillana', cursive;
  text-shadow: 1px 2px #3A3225;
}

#hamburgerTrain {
  margin-top: 10px;
  margin-left: 65px;
  box-shadow: 3px 6px 11px rgba(0,0,0,0.5);
}

.eaten-title {
  color: #3A3225;
  text-shadow: 1px 2px #CE8007;
}

.eaten {
  height: 357px;
  padding: 10px;
  overflow: scroll;
  border: 5px solid #795025;
  background-color: #651E36;
  background-image: url("http://www.transparenttextures.com/patterns/asfalt-dark.png");
  box-shadow: 0px 2px 15px rgba(0,0,0,0.5) inset;
}

.eaten li {
  background: #84774F;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5) inset;
}

.not-eaten li {
  background: #F5E1BA;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5) inset;
}

.hamburgerEaten {
  opacity: .4;
}

.not-eaten {
  padding: 10px;
  border: 5px solid #E8AF07;
  background-color: #EF9407;
  background-image: url("http://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: 196px;
  overflow: scroll;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.5) inset;
}

.not-eaten-title {
  color: #F8CC00;
  text-shadow: 1px 2px #3A3225;
}

.add-title {
  color: #8FBF09;
}

.create-update-form {
  padding: 10px;
  border: 5px solid #EF9407;
  background-color: #F5E1BA;
  width: 100%;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.5) inset;
}
