body {
  background-color: #a3e820;
}

li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
  /*display: inline-block;*/
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

form {
  display: inline-block;
}

img {
  max-width: 30px;
  float: left;
}

p {
  margin-left: 50px;
  margin-top: 2px;
  display: inline-block;
}

.eat {
  float: right;
}
h1 {
  color: red;
  text-align: center;
  font-size: 48pt;

}

h4 {
  color: red;
  text-align: center;
  font-size: 36pt;
}

#hamburgerTrain {
  margin-left: 40px;
}

.eaten {
  height: 400px;
  overflow: scroll;
}
